* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
}
.panel {
  flex: 1 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.panel > * {
  border: 1px solid;
  width: 100%;
  margin: 0;
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
